# macOS
.DS_Store

# Environment variables
.env

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Conan artifacts
conanbuild.sh
conanbuildenv.sh
conanrun.sh
conanrunenv.sh
deactivate_conanbuild.sh
deactivate_conanrun.sh
